[submodule "xresources-themes"]
	path = Xresources-themes
	url = https://github.com/logico-dev/Xresources-themes
[submodule "vim-cucumber"]
	path = vim/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber
