[submodule "vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim-cucumber"]
	path = vim/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber
[submodule "vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim-jade"]
	path = vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade
[submodule "vim-less"]
	path = vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim-nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim-php"]
	path = vim/bundle/php.vim
	url = https://github.com/StanAngeloff/php.vim
[submodule "vim-phpcomplete"]
	path = vim/bundle/phpcomplete.vim
	url = https://github.com/shawncplus/phpcomplete.vim
[submodule "vim-php-namespace"]
	path = vim/bundle/vim-php-namespace
	url = https://github.com/arnaud-lb/vim-php-namespace.git
[submodule "vim-supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "vim-syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim-todo.txt"]
	path = vim/bundle/todo.txt-vim
	url = https://github.com/freitass/todo.txt-vim
[submodule "vim-vmustache"]
	path = vim/bundle/vmustache
	url = https://github.com/tobyS/vmustache
