[submodule "nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pdv"]
	path = vim/bundle/pdv
	url = https://github.com/tobyS/pdv
[submodule "phpcomplete.vim"]
	path = vim/bundle/phpcomplete.vim
	url = https://github.com/shawncplus/phpcomplete.vim
[submodule "php.vim"]
	path = vim/bundle/php.vim
	url = https://github.com/StanAngeloff/php.vim
[submodule "supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "todo.txt-vim"]
	path = vim/bundle/todo.txt-vim
	url = https://github.com/freitass/todo.txt-vim
[submodule "vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim-jade"]
	path = vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade
[submodule "vmustache"]
	path = vim/bundle/vmustache
	url = https://github.com/tobyS/vmustache
