style.name:		Matrix-Flux v0.2
style.author:		eXpl0i7
style.date:		17.3.2010
#357a6
!-- toolbar --

toolbar:				flat
toolbar.pixmap:				bar.xpm
toolbar.color:				#
toolbar.colorTo:			#

toolbar.clock:				flat
toolbar.clock.font:			dejavu sans-8:bold
toolbar.clock.pixmap:			bar.xpm
toolbar.clock.justify:			center
toolbar.clock.color:			#
toolbar.clock.colorTo:			#
toolbar.clock.textColor:		#00C701

toolbar.workspace:			flat
toolbar.workspace.font:			dejavu sans-8:bold
toolbar.workspace.pixmap:		bar.xpm
toolbar.workspace.justify:		Center
toolbar.workspace.color:		#
toolbar.workspace.colorTo:		#
toolbar.workspace.textColor:		#00C701

toolbar.button:				flat 
toolbar.button.pixmap:			bar.xpm
toolbar.button.color:			#
toolbar.button.colorTo:			#
toolbar.button.picColor:		#01CE00
toolbar.button.pressed:			flat
toolbar.button.pressed.pixmap:		bar.xpm
toolbar.button.pressed.color:		#
toolbar.button.pressed.colorTo:		#
toolbar.button.pressed.picColor:	#01FF00

toolbar.iconbar.empty:			flat
toolbar.iconbar.empty.pixmap:		bar.xpm
toolbar.iconbar.empty.color:		#
toolbar.iconbar.empty.colorTo:		#

toolbar.iconbar.focused:		flat
toolbar.iconbar.focused.font:		dejavu sans-7:bold
toolbar.iconbar.focused.pixmap:		barfcs.xpm
toolbar.iconbar.focused.color:		#
toolbar.iconbar.focused.colorTo:	#
toolbar.iconbar.focused.textColor:	#00FF02
toolbar.iconbar.focused.justify:	center

toolbar.iconbar.unfocused:		flat
toolbar.iconbar.unfocused.font:		dejavu sans-7:bold
toolbar.iconbar.unfocused.pixmap:	bar.xpm
toolbar.iconbar.unfocused.color:	#
toolbar.iconbar.unfocused.colorTo:	#
toolbar.iconbar.unfocused.textColor:	#00C601
toolbar.iconbar.unfocused.justify:	center

toolbar.workspace:                                      flat
toolbar.workspace.justify:                              center
toolbar.workspace.pixmap:   bar-work.xpm

toolbar.bevelWidth:			1
toolbar.borderWidth:			1
toolbar.borderColor:			#000000
toolbar.height:				19
toolbar.justify:			center
toolbar.font:				dejavu sans-8

! -- menu --
menu.itemHeight:			16
menu.titleHeight:			16

menu.borderColor:			grey30

menu.title:					flat
menu.title.font:			dejavu sans-10
menu.title.pixmap:		menutitle.xpm
menu.title.justify:		center
menu.title.color:			#
menu.title.colorTo:		#
menu.title.textColor:	#00C701


menu.frame:					Raised Bevel1 Gradient Vertical
menu.frame.font:			dejavu sans-8:bold
menu.frame.justify:		left
menu.frame.color:			#000000
menu.frame.colorTo:		#003C01
menu.frame.textColor:	#00C701
menu.frame.disableColor:#00C701

menu.hilite:				flat
menu.hilite.pixmap:			barfcs.xpm
menu.hilite.color:			#
menu.hilite.colorTo:			#
menu.hilite.textColor:			#ffffff

menu.selected.pixmap:			selected.xpm
menu.hilite.selected.pixmap:		menu.unselected.pixmap:							unselected.xpm
menu.hilite.unselected.pixmap:		

menu.bevelWidth:			1
menu.borderColor:			#404040
menu.borderWidth:			1
menu.bullet.position:			Right
menu.bullet:				empty
menu.submenu.pixmap:			bullet.xpm		
menu.hilite.submenu.pixmap:		bullet_hilite.xpm

! -- window --


window.title.focus:			flat
window.title.focus.pixmap:		windowfcs.xpm
window.title.focus.color:		#
window.title.focus.colorTo:		#
window.title.unfocus:			flat
window.title.unfocus.pixmap:		windowfcs.xpm
window.title.unfocus.color:		#
window.title.unfocus.colorTo:		#

window.label.focus:			flat
window.label.focus.pixmap:		windowfcs.xpm
window.label.focus.color:		#
window.label.focus.colorTo:		#
window.label.focus.textColor:		#04FF00
window.label.unfocus:			flat
window.label.unfocus.pixmap:		windowfcs.xpm
window.label.unfocus.color:		#
window.label.unfocus.colorTo:		#
window.label.unfocus.textColor:		#006A00

window.button.focus:			flat
window.button.focus.color:		#
window.button.focus.colorTo:		#
window.button.focus.picColor:		#
window.button.unfocus:			flat
window.button.unfocus.Color:		#
window.button.unfocus.ColorTo:		#
window.button.unfocus.picColor:		#
window.button.pressed:			flat
window.button.pressed.color:		#
window.button.pressed.colorTo:		#
window.button.pressed.picColor:		#

window.close.pixmap:			close.xpm
window.close.unfocus.pixmap:		close.xpm
window.close.pressed.pixmap:		close_pressed.xpm

window.iconify.pixmap:			min.xpm
window.iconify.unfocus.pixmap:		min.xpm
window.iconify.pressed.pixmap:		min_pressed.xpm

window.maximize.pixmap:			max.xpm
window.maximize.unfocus.pixmap:		max.xpm
window.maximize.pressed.pixmap:		max_pressed.xpm

window.stick.pixmap:			sticky.xpm
window.stick.unfocus.pixmap:		sticky.xpm
window.stick.pressed.pixmap:		sticky_pressed.xpm

window.stuck.pixmap:			un_sticky.xpm
window.stuck.unfocus.pixmap:		un_sticky.xpm

window.handle.focus:			flat
window.handle.focus.pixmap:		bar.xpm
window.handle.focus.color:		#
window.handle.focus.colorTo:		#
window.handle.unfocus:			flat
window.handle.unfocus.pixmap:		bar.xpm
window.handle.unfocus.color:		#
window.handle.unfocus.colorTo:		#
window.handleWidth:			2

window.grip.focus:			flat
window.grip.focus.pixmap:		grip_focus.xpm
window.grip.focus.color:		#
window.grip.focus.colorTo:		#
window.grip.unfocus:			flat
window.grip.unfocus.pixmap:		bar.xpm
window.grip.unfocus.color:		#
window.grip.unfocus.colorTo:		#

window.bevelWidth:			0
window.shade:				false
window.borderWidth:			1
window.borderColor:			#404040
window.justify:				Center
window.title.height:			20
window.font:				dejavu sans-8:bold

#Background Possibilities
background: strechw

bevelWidth:				1
*font:					dejavu sans-8:bold




